<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>控制台</title>
	<link rel="stylesheet" href="./bootstrap-3.3.7/css/bootstrap.min.css"/>
	<script src="./jquery/jquery-1.11.3.min.js"></script>
	<script src="./bootstrap-3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
		.content {
			border: 1px gray solid; 
			margin-top: 10px;
			color: white;
			background-color: black;
			min-height: 200px;
			max-height: 700px;
			overflow: auto;
		}
	</style>
</head>
<body>
<div class="container-fluid">
  <div class="form-inline" style="margin-top: 20px">
	  <div class="form-group" >
	    <label for="filepath">文件路径：</label>
	    <input type="text" class="form-control" id="filepath" style="width: 500px" placeholder="服务器上的文件路径">
	  </div>
	  <button type="button" class="btn btn-success" id="load" onclick="next(true)">从头读入</button>
	  <button type="button" class="btn btn-primary" disabled="disabled" id="next" onclick="next()">下一页</button>
	  &nbsp;&nbsp;&nbsp;&nbsp;
	  <button type="button" class="btn btn-success" id="last" onclick="prev(true)">末尾读入</button>
	  <button type="button" class="btn btn-primary" disabled="disabled" id="prev" onclick="prev()">上一页</button>
  </div>
  <div id="content" class="content">
  
  </div>
</div>
 
</body>
<script th:inline="javascript">
	var ip = [[${ip}]];
	var port = [[${port}]];
	var host = ip + ":" + port;
	console.log(host)

	var position = 0;
    
    function next(flag) {
    	var filePath = $("#filepath").val();
    	if (!filePath || filePath == '') {
    		alert("请输入文件路径")
    		return;
    	}
    	$("#prev").attr("disabled", true);
    	var url = "http://" + host + "/read/next";
    	if (flag) {
    		$("#content").empty();
    		url += "?head=true";
    	}
    	$.ajax({
            type: "post",
            dataType: "json",
            url: url,
            contentType: "application/json;charset=UTF-8",
            data: JSON.stringify({filePath, position}),
            success: function (res) {
            	position = res.position;
            	$("#next").attr("disabled", false);
            	var length = res.length;
            	var data = res.data;
            	if (data) {
            		data.map(item => $("#content").append(item + "<br/>"));
            	}
            }
        });
    }
    
    
    function prev(flag) {
    	var filePath = $("#filepath").val();
    	if (!filePath || filePath == '') {
    		alert("请输入文件路径")
    		return;
    	}
    	$("#next").attr("disabled", true);
    	var url = "http://" + host + "/read/prev";
    	if (flag) {
    		$("#content").empty();
    		url += "?last=true";
    	}
    	$.ajax({
            type: "post",
            dataType: "json",
            url: url,
            contentType: "application/json;charset=UTF-8",
            data: JSON.stringify({filePath, position}),
            success: function (res) {
            	position = res.position;
            	$("#prev").attr("disabled", false);
            	var length = res.length;
            	var data = res.data;
            	if (data) {
            		var content = $("#content").html();
            		$("#content").empty();
            		data.map(item => $("#content").append(item + "<br/>"));
            		$("#content").append(content);
            	}
            }
        });
    }
</script>
</html>
